.body {
    background-image: url("../assets/images/pexels-pixabay-257092.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    background-color:#BE6F85;
}

.page {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 800px;
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    border: 2px solid #BE6F85;
}

.name-text {
    font-size: 40px;
    font-weight: 700;
    color: #875A72;
    text-align: center;
    margin-bottom: 10px;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    color: #875A72;
    text-align: center;
    margin-bottom: 20px;
}

.about-me-section {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(157,102,118, 0.2);
    min-height: 400px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-description {
    font-size: 18px;
    padding: 10px;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-bottom: 20px;
}

.underline-text {
    text-decoration: underline;
    text-decoration-color: #BE6F85;
    text-decoration-thickness: 2px;
}

.timeline-item {
    padding: 5px;
    padding-top: 15px;
    padding-bottom:15px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0px;
    border-radius: 10px;
}

.timeline-title {
    font-size: 17px;
    font-weight: 700;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-bottom: 1px;
}

.timeline-subtitle {
    font-size: 17px;
    font-weight: 700;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-bottom: 1px;
}

.timeline-description {
    font-size: 17px;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-bottom: 1px;
}

.timeline-connector {
    width: 5px;
    height: 50px;
    background-color: rgb(87, 85, 85);
    margin: 0px;
}