<section>
    <div class="about-me-section">
        <div class="float-up-on-no-scroll">
            <img src="assets/images/me.jpg" alt="" class="profile-image">
        </div>
        <h4 class="float-up-on-no-scroll">Hi there &#128075;, I'm,</h4>
        <b><h1 id="typewriter-element" class="name-text float-up-on-no-scroll">Kavindu Himashana Suraweera</h1></b>
    </div>
    <div class="profile-description float-up-on-no-scroll">
        <p>I am a <span class="underline-text">BSc Software Engineering graduate</span> with strong foundations in both frontend and backend programming. Experienced in software, web and mobile applications and 3D game development. Passionate about applying my knowledge and skills to real-world software engineering challenges to make a significant contribution to the evolving technological world.</p>
    </div>
</section>