<section>
    <div class="about-me-section">
        <div>
            <img src="assets/images/me.jpg" alt="" class="profile-image">
        </div>
        <h4>Hi there &#128075;, I'm,</h4>
        <b><h1 id="typewriter-element" class="name-text">Kavindu Himashana Suraweera</h1></b>
    </div>
    <div class="profile-description">
        <p>I am a BSc Software Engineering graduate with strong foundations in both frontend and backend programming. Experienced in software, web and mobile applications and 3D game development. Passionate about applying my knowledge and skills to real-world software engineering challenges to make a significant contribution to the evolving technological world.</p>
    </div>
</section>