<section>
    <h2 class="section-title">My Educational Journey</h2>

    <div class="timeline-item w-75">
        <p class="timeline-title">JULY 2021 - DEC 2024</p>
        <p class="timeline-subtitle">BACHELOR OF COMPUTER SCIENCE (SOFTWARE ENGINEERING MAJOR)</p>
        <p class="timeline-description">EDITH COWAN UNIVERSITY, SRI LANKAN BRANCH</p>
    </div>
    <div class="timeline-connector"></div>
    <div class="timeline-item w-75">
        <p class="timeline-title">JULY 2021 - DEC 2024</p>
        <p class="timeline-subtitle">BACHELOR OF COMPUTER SCIENCE (SOFTWARE ENGINEERING MAJOR)</p>
        <p class="timeline-description">EDITH COWAN UNIVERSITY, SRI LANKAN BRANCH</p>
    </div>
</section>