<section>
  <h2 class="h2 section-title">My Skills</h2>

  <div class="row m-2">
    <div class="col-md">
      <div class="section-item-type-1 p-3 easyInOutBox">
        <p>Python, C++, HTML, CSS, JS and PHP</p>
        <div class="progress" style="border: 1px solid #be6f85 !important">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 95%; background-color: #be6f85 !important"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="section-item-type-1 p-3 easyInOutBox">
        <p>Object-oriented programming</p>
        <div class="progress" style="border: 1px solid #be6f85 !important">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 92%; background-color: #be6f85 !important"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-2">
    <div class="col-md">
      <div class="section-item-type-1 p-3 easyInOutBox">
        <p>Practical knowledge of SQL, NoSQL and database concepts</p>
        <div class="progress" style="border: 1px solid #be6f85 !important">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 90%; background-color: #be6f85 !important"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="section-item-type-1 p-3 easyInOutBox">
        <p>Mobile applications development with React Native</p>
        <div class="progress" style="border: 1px solid #be6f85 !important">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 88%; background-color: #be6f85 !important"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-2">
    <div class="col-md">
      <div class="section-item-type-1 p-3 easyInOutBox">
        <p>Application development with React, Angular and Next.js</p>
        <div class="progress" style="border: 1px solid #be6f85 !important">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 86%; background-color: #be6f85 !important"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="section-item-type-1 p-3 easyInOutBox">
        <p>Mobile application development in Java and Kotlin</p>
        <div class="progress" style="border: 1px solid #be6f85 !important">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 70%; background-color: #be6f85 !important"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-2">
    <div class="col-md">
      <div class="section-item-type-1 p-3 easyInOutBox">
        <p>Website development in WordPress</p>
        <div class="progress" style="border: 1px solid #be6f85 !important">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 95%; background-color: #be6f85 !important"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="section-item-type-1 p-3 easyInOutBox">
        <p>Game development in Unity and C#</p>
        <div class="progress" style="border: 1px solid #be6f85 !important">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 92%; background-color: #be6f85 !important"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="h2 section-title" style="margin-top: 45px">Other Skills</h2>

  <div class="row m-2">
    <div class="col-md">
      <div class="section-item-type-1 p-3 easyInOutBox">
        <p class="m-0">Team working and leadership skills</p>
      </div>
    </div>
    <div class="col-md">
      <div class="section-item-type-1 p-3 easyInOutBox">
        <p class="m-0">Interpersonal communication skills</p>
      </div>
    </div>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br />
</section>
